@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Fira Sans", serif;
}

marquee{
    background-color: #64C8FF;
    color: white;
}

/*nav ber*/


.nav-ber{
    max-width: 1158px;
    margin: 0 auto;
    display: flex;
    margin: 2rem auto;
    align-items: center;
    justify-content: space-between;
}
.logo{
    display: flex;
    align-items: center;
}
.school-more{
    display: flex;
    gap: 2rem;
}
nav ul li{
    list-style: none;
}
nav ul a{
    text-decoration: none;
}
.btn-1{
    color: white;
    background-color: orange;
    padding: 10px 60.5px;
    border: none;
    border-radius: 12px;
}
.home{
    color: orange;
}
.about{
    color: skyblue;
}
.facilities{
    color: #05D4DF;
}
.admission{
    color: #5D58EF;
}




/*banner*/

.banner{
    max-width: 1158px;
    margin: 0 auto;
    display: flex;
    padding: 2rem auto;
    align-items: center;
    justify-content: center;
}
.banner-title{
    font-size: 3.5rem;
}
.title-1{
    color: orange;
}
.title-2{
    color: skyblue;
}
.btn-2, .btn-3{
    color: white;
    background-color: black;
    padding: 10px 47px;
    border: none;
    border-radius: 12px;
}
.banner-img{
    width: 100%;
}
.menu-icon {
    display: none;
    width: 35px;
    height: 30px;
}
.menu-icon span {
    display: block;
    background: black;
    height: 4px;
    width: 100%;
    border-radius: 2px;
    margin: 6px 0;
}



@media screen and (max-width: 576px) {

    .nav-ber{
        max-width: 357px;
        margin: 0px auto;
    }
     .nav-title, .school-more, .btn-1{
        display: none;
     }
     .banner{
        flex-direction: column-reverse;
        max-width: 357px;
        margin: 0px auto;
     }
     .banner-box{
        text-align: center;
     }
     marquee{
        display: none;
     }
     .menu-icon{
        display: block;
     }
     }



/*curriculum*/

.curriculum{
    max-width: 1158px;
    margin: 0 auto;
    background-image: url(images/bg.png);

}
.curriculum-title{
    text-align: center;
    padding-top: 60px;
    padding-bottom: 80px;
    font-size: 46px;
}
.curriculum-description{
    display: flex;
    gap: 28px;
}
.curriculum-1{
    background: linear-gradient(180deg, #DEF5FF, #FFFFFF);
    padding: 52px 40px;
    text-align: center;
    border-radius: 19px;
}
.curriculum-2{
    background: linear-gradient(180deg, #FFF4DC, #FFFFFF);
    padding: 52px 40px;
    text-align: center;
    border-radius: 19px;
}
.curriculum-3{
    background: linear-gradient(180deg, #F2E8FF, #FFFFFF);
    padding: 52px 40px;
    text-align: center;
    border-radius: 19px;
}
.curriculum a{
    text-decoration: none;
}
.kinder{
    color: #64C8FF;
}
.elementary{
    color: #F0AA00;
}
.middle{
    color: #8700FF;
}
.arrows{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 80px;
}
.arrow {
    border-radius: 30px;
    border: none;
    background-color: orange;
    color: white;
    width: 50px;
    height: 50px;
    font-size: 30px;
}
@media screen and (max-width: 576px) {
    .curriculum{
        max-width: 357px;
        margin: 0px auto;
    }
    
    .curriculum-description{
        flex-direction: column;
        gap: 40px;
    }
    .arrows{
        display: none;
    }
}

/*story*/


.story{
    background: url(images/bg.png), linear-gradient(white, #ffe5b9);
    background-position: center;
    padding: 0 auto;
}
.stories{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    justify-content: center;
    gap: 19px;
    max-width: 1158px;
    margin: 0 auto;
    /*position: relative;*/
}
.story-img > img{
    width: 100%;
    border-radius: 16px 16px 0 0;
    padding-bottom: 20px;
}
.story-1{
    grid-row: 1/ span 3;
    position: relative;
            
}
.story-heading, .story-btn{
    text-align: center;
    padding-top: 60px;
    padding-bottom: 80px;
    font-size: 46px;
}
.story-1, .story-2, .story-3, .story-4, .story-5{
    background-color: white;
    border-radius: 0 0 16px 16px;
    /*position: relative;*/
} 
.story-description > a{
    text-decoration: none;
    color: black;
}

.story-description{
    padding: 0 38px 34px 38px;
}
.story-description-0{
    font-weight: 500;
    font-size: 20px;
}
.story-description-0 > p{
    padding-top: 20px;
}
.story-description-1{
    font-weight: 500;
    font-size: 15px;
}
.date{
    position: relative;
    left: 2vw;
    top: -7vh;
    background-color: #95B226;
    text-align: center;
    border-radius: 47px;
    width: 150px;
    padding: 10px 0;
}
.date-1{
    position: relative;
    left: 3vw;
    top: -7vh;
    background-color: #95B226;
    text-align: center;
    border-radius: 47px;
    width: 174px;
    padding: 10px 0;
}
@media screen and (max-width: 576px) { 
    .story{
        margin: 0px auto;
    }
    .stories{
        max-width: 357px;
        grid-template-columns: 1fr 1fr;
    .story-1{
        display: none;
    }
    .date{
        width: 50px;
        font-size: 10px;
        border-radius: 10px;
        padding: 5px 0;
        position: relative;
        left: 5vw;
        top: -8vh;
    }
    .story-description{
        padding: 0 38px 34px 25px;
    }
    }
}
/*footer*/
/*footer{
    margin: 0 auto;
    text-align: center;
    display: inline;
}
.school-footer{
    display: flex;
    background-color: #01ACFD;
    max-width: 1158px;
    padding: 123px 228px 174px 140px;
}
.footer-description{
    display: flex;
}*/
.school-footer{
    background-color: #01ACFD;
    display: flex;
    justify-content: space-between;
    padding: 100px;
}
.footer-description, .footer-about, .footer-links{
    color: white;
} 
.footer-about{
    display: flex;
    flex-direction: column;
    line-height: 2;
}
.footer-about> a{
    text-decoration: none;
    color: white;
}
.footer-links> h3{
    padding-bottom: 20px;
}
.janina{
    display: flex;
    padding-bottom: 20px;
    align-items: center;
}

@media screen and (max-width: 576px) {
    .school-footer{
        flex-direction: column;
        gap: 40px;
    }
}
