@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Fira Sans", serif;
}


/*nav ber*/


.nav-ber{
    max-width: 1158px;
    margin: 0 auto;
    display: flex;
    margin: 2rem auto;
    align-items: center;
    justify-content: space-between;
}
.logo{
    display: flex;
    align-items: center;
}
.school-more{
    display: flex;
    gap: 2rem;
}
nav ul li{
    list-style: none;
}
nav ul a{
    text-decoration: none;
}
.btn-1{
    color: white;
    background-color: orange;
    padding: 10px 60.5px;
    border: none;
    border-radius: 12px;
}
.home{
    color: orange;
}
.about{
    color: skyblue;
}
.facilities{
    color: #05D4DF;
}
.admission{
    color: #5D58EF;
}




/*banner*/

.banner{
    max-width: 1158px;
    margin: 0 auto;
    display: flex;
    padding: 2rem auto;
    align-items: center;
    justify-content: center;
}
.banner-title{
    font-size: 3.5rem;
}
.title-1{
    color: orange;
}
.title-2{
    color: skyblue;
}
.btn-2, .btn-3{
    color: white;
    background-color: black;
    padding: 10px 47px;
    border: none;
    border-radius: 12px;
}



/*@media screen and (max-width: 576px) {
     .nav-ber, .banner .school-more{
        flex-direction: column;
     }*/



/*curriculum*/

.curriculum{
    max-width: 1158px;
    margin: 0 auto;
    background-image: url(images/bg.png);

}
.curriculum-title{
    text-align: center;
    padding-top: 60px;
    padding-bottom: 80px;
    font-size: 46px;
}
.curriculum-description{
    display: flex;
    gap: 28px;
}
.curriculum-1{
    background: linear-gradient(180deg, #DEF5FF, #FFFFFF);
    padding: 52px 40px;
    text-align: center;
    border-radius: 19px;
}
.curriculum-2{
    background: linear-gradient(180deg, #FFF4DC, #FFFFFF);
    padding: 52px 40px;
    text-align: center;
    border-radius: 19px;
}
.curriculum-3{
    background: linear-gradient(180deg, #F2E8FF, #FFFFFF);
    padding: 52px 40px;
    text-align: center;
    border-radius: 19px;
}
.curriculum a{
    text-decoration: none;
}
.kinder{
    color: #64C8FF;
}
.elementary{
    color: #F0AA00;
}
.middle{
    color: #8700FF;
}
.arrows{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 80px;
}
.arrow {
    border-radius: 30px;
    border: none;
    background-color: orange;
    color: white;
    width: 50px;
    height: 50px;
    font-size: 30px;
}

/*story*/

/*.story{
    padding: 120px 141px 60px;
    background-image: url(images/bg.png);
    border: saddlebrown solid 5px;
    background:linear-gradient(white, #ffe5b9)
}
.stories{
    border: solid darkgoldenrod 5px;
    display: flex;
}
.story-1, .story-2, .story-3, .story-4, .story-5, .story-heading, .story-btn{
    border: solid black 2px;
}
.story-heading{
    text-align: center;
}
.story-1, .story-2, .story-3, .story-4, .story-5{
    background-color: white;
}
.extra-stories{
    border: solid firebrick 5px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.story-1{
    width: 500px;
}
.story-2, .story-3, .story-4, .story-5{
    width: 265px;
}
.story-img{
    width: 100%;
}
.date{
    position: absolute;
    background-color: #95B226;
    text-align: center;
    border-radius: 47px;
    width: 174px;
}
.story-btn{
    border: #01ACFD solid;
    padding-top: 80px;
    text-align: center;
    color: white;
}
.btn-3{
    color: white;
    background-color: black;
    padding: 10px 47px;
    border: none;
    border-radius: 12px;
}*/


.story{
    background:linear-gradient(white, #ffe5b9);
    max-width: 1158px;
    margin: 0 auto;
}
.stories{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;

    justify-content: center;
    gap: 19px;
}
/*.story-1, .story-2, .story-3, .story-4, .story-5{
    border: solid seagreen;
}*/
.story-img > img{
    width: 100%;
}
.story-1{
    grid-row: 1/ span 3;
    background-color: aquamarine;
            
}
.story-heading, .story-btn{
    text-align: center;
}

/*footer*/
footer{
    max-width: 1158px;
    text-align: center;
    display: inline;
}
.school-footer{
    display: flex;
    background-color: #01ACFD;
    padding: 123px 228px 174px 140px;
}
.footer-description{
    display: flex;
}
